@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    /* background: black; */
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

:root {
    --clr-blanco: white;
    --clr-negro: black;
    --clr-naranja: #fe5d02;
    --ff: 'Libre Franklin', sans-serif;
}

body {
   margin: 0;
   font-family: var(--ff);
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5
 {
    margin: 0;
    font-family: var(--ff-title);
    font-weight: 500;
    letter-spacing: 1px;
}

img {
    display: inline-block;
    max-width: 100%;
}

p {
    font-family: var(--ff-paragraph);
    font-weight: 700;
    line-height: 1;
    font-size: 1.125rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--clr-primary-100);
    font-family: var(--ff-title);
}

/* END global variables */

/* START NAV BAR */ 
/* header h1 {
    margin-left: 50px;
} */

header a {
    text-decoration: none;
    color: var(--clr-negro);
}

header h1 a img {
    max-width: calc(5rem + 3vw);
    padding-block: 3%;
}

header {
    background: var(--clr-negro);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    color: var(--clr-blanco);
    display: grid;
    /* justify-content: space-around; */
    
    grid-template-columns: 1fr 1fr 1fr; 

    box-shadow: black 0px 1px 12px 4px;
}

header > * {
    align-self:center;
    justify-self:space-between;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--clr-naranja);
    width: 100%;
    padding-top: .5rem;

    transform: scale(1, 0);
    transition: transform 400ms ease-in-out;
    transform-origin: top;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: var(--clr-negro);
    text-decoration: none;
    font-size: 1rem;

    opacity: 0;
    transition: opacity 150ms ease-in-out;

}

nav a:hover {
    color: var(--clr-blanco);
}

.nav--toggle:checked ~ nav {
    /* display: block; */
    transform: scale(1, 1);
}

.nav--toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 500ms;
}

.nav--toggle {
    display: none;
}

.nav--toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    /* border: 1px solid red; */
    height: 100%;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
}

.nav--toggle-label span,
.nav--toggle-label span::before,
.nav--toggle-label span::after {
    display: block;
    background: var(--clr-naranja);
    height: 2px;
    width: 1.5rem;
    border-radius: 2px;
    position: relative;
}

.nav--toggle-label span::before,
.nav--toggle-label span::after {
    content: '';
    position: absolute;
} 

.nav--toggle-label span::before {
    bottom: 5px;
}

.nav--toggle-label span::after {
    top: 5px;
}

/*
 * ─── INTERRUPTOR TRADUCTOR ──────────────────────────────────────────────────────
 */

    
        /* INTERRUPTOR TRADUCCION inicio  */

header .traductor {
    color: var(--clr-naranja);

}

input {
    cursor: pointer;
}

.es {
    color: var(--clr-naranja);
    top: 10px;
}

.en {
    color: var(--clr-naranja);
}

.check {
    position: relative;
    width: 50px;
    top: -6px;
}

.check:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: var(--clr-negro);
    border-radius: 25px;
    border: 2px solid var(--clr-naranja);

}

.check:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: var(--clr-negro);
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid var(--clr-naranja);
    box-sizing: border-box;
}

.check:checked:after {
    background-color: rgb(0, 0, 0);
}

.check:checked:after {
    left: 25px;
    border: 2px solid var(--clr-naranja);

}

.check:checked:before {
    background-color: var(--clr-naranja);
}
/* CALL TO ACTION */
.divisor {
    height: 10vh;
}

.call {
    min-height: 90vh;
    display: flex;
    background: rgba(0, 0, 0, 0.575) url('../imagenes/call/01.JPG') no-repeat center;
    color: var(--clr-blanco);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    transition: animate 2s 5s;

    appearance: inherit;
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
}

.call .cartel {
    padding-top: calc(14rem + 2vw);
    padding-left: 1rem;
    padding-right: 7rem;
}


@keyframes animate {
    0% {
        background-image: url(../imagenes/call/02.JPG);
    }
    
}

.call .cartel h2 {
    font-size: calc(1.2rem + 1vw);
    padding-block: calc(3px + 0.5vh);
    padding-inline: calc(.5rem + 1vw);
    background-color: #ff5e00;
    color: var(--clr-negro);
    font-weight: 900;
    margin-bottom: 5px;
    display: inline-block;
    max-width: 100%;
    
}

.call .cartel-cartel p {
    word-spacing: 1.5;
    line-height: 1.5;
    padding-top: 1.5rem;
    margin-right: 2rem;
    font-weight: 700;
    font-size: .6rem;
}



/*
 * ─── SEGUNDA PARTE BANNER NEGRO ───────────────────────────────────────────────────────
 */

    

.banner1 {
    background: url('../imagenes/fondos/FONDO-NEGRO.png') repeat center top;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: var(--clr-blanco);
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    padding-block: 4rem;
    padding-inline: 2rem;
}

/*
 * ─── TERCERA PARTE GALERIA CARTELERAS ─────────────────────────────────────────────────────────
 */

    

.container {
    width: 100%;
    min-height: 41vh;
    max-width: 100vw;
    margin: 0 auto;
    overflow: hidden;
}

.slider {
    /* background-color: #f2f2f2; */
    padding: 0 0;
}

.slider_container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1rem;
}

.slider_body {
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;

    display: flex;
    /* background-color: #f2f2f2; */
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
}

.slider_body img {
    min-width: 170px;
}

.slider_img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.slider_text {
    max-width: 600px;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.slider_review {
    font-weight: 300;
    font-size: 10px;
    line-height: 1.7;
}

.slider_body-show {
    opacity: 1;
    pointer-events: unset;
}

.slider_arrow {
    cursor: pointer;
    width: 100%
}

.slider_arrow:nth-of-type(2){
    justify-self: end;
}

            /*
            * ─── REVISAR EL CODIGO DE ARRIBA Y BORRAR LO INNECESARIO ────────────────────────
            */

/*
* ─── BANNER ANARANJADO ──────────────────────────────────────────────────────────
*/

     
.banner2 {
    background: url(../imagenes/fondos/FONDO-NARANJA.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    color: var(--clr-negro);
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    padding-block: 4rem;
    padding-inline: 2rem;
}

/* ESPACIO PUBLICITARIO - REPRODUCTOR AUTOMATICO */

.publicidad {
    min-height: 80vh;
    padding-top: calc(14rem + 2vw);
    display: flex;
    background: url(./01.png) ;
    color: var(--clr-negro);
    background-blend-mode: multiply;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    transition: 4s; 

    appearance: inherit;
    animation-name: publicidad;
    animation-direction: alternate-reverse;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.01, 1.15, 1, 0.99); 
}

@keyframes publicidad {
    0% {
        background-image: url(./02.png);
    }
    50% {
        background-image: url(./03.png);
    }
    100% {
        background-image: url(./04.png);
    }

}

/* CV WISNY - GALERIA */
/* CV WISNY BACKGROUNDS */


.slide-bg1 { background: url(../imagenes/assets/cv1.JPG); }
.slide-bg2 { background: url(../imagenes/assets/cv2.JPG); }
.slide-bg3 { background: url(../imagenes/assets/cv3.JPG); }
.slide-bg4 { background: url(../imagenes/assets/cv4.JPG); }
.slide-bg5 { background: black }
.slide-bg6 { background: blue }

.slide {
    background-position: center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, .5);
    background-repeat: no-repeat; 
    background-blend-mode: multiply;

    animation: background-color 2s ease;

}

/* ABAJO */

/* AFRO TV */

.afroTV {
    background: url(../imagenes/fondos/FONDO-AFRO.png) no-repeat;
    background-size: cover;
    display: flex;
    color: var(--clr-blanco);
    text-transform: none;
    padding-block: 5%;
    padding-right: 12%;
    padding-left: 6%;
    column-width: 30%;

    display:grid;
    grid-template-columns: 2fr 3fr;

}

.afroTV > div {
    align-self: center;
    justify-self: center;
}


.afroTV .cartel p {
    font-size: clamp(1rem, 1.6vw, 1.5rem);
    font-weight: 200;
    margin-bottom: 20px;
    word-spacing: 2;
    line-height: 1.1;
}




/* CV WISNY js*/
/* GALERIA IMAGENES fotograd */

  
  .carousel {
    background: rgba(0,0,0,1);
    background-blend-mode: multiply;
    width: 100%;
    min-height: min(100vh, 80vh);
    position: relative;
  }
  
  .carousel ul li {

  }
  .carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 300ms opacity ease-in-out;
    transition-delay: 400ms;
  }
  
  .slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 98;
  }
  
  .slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
  }

  .carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: clamp(4rem, 16vw, 20rem);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);

    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    transition: 500ms ease;
  }
  
  .carousel-button:hover {
    color: rgba(255, 255, 255, 1);
    
  }
  
  .carousel-button.prev {
    left: .01em;
  }
  
  .carousel-button.next {
    right: .01em;
  }
  /* */
  
  .cartel-cv {
    position: absolute;
    top: 5rem;
    color: white;
    left: 5rem;
    max-width: 70%;
    text-transform: none;
  }

  .cartel-cv h3 {
    padding-block: .5rem;
    padding-inline: 1rem;
    display: inline-block;

    background-color: #0030ca;
    font-size: 2rem;
    font-weight: 800;
    

  }

  .cartel-cv h4 {
    padding-block: .3rem;
    padding-inline: 1rem;
    display: inline-block;

    background-color: #0030ca;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: .7;

  }

  .cartel-cv p {
      text-transform: uppercase;
  }
/* FOOTER */

footer {
    background: url(../imagenes/fondos/FONDO-NEGRO.png);
    color: var(--clr-blanco);
    background-size: cover;
  
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    

    padding-inline: 3%;
    padding-block: 3%;
 }

footer > div {
    align-self: center;
    justify-self: center;
    margin-left: 30px;
    /* border: white 2px solid; */
 }

 footer .logo {
    max-height: 120px;
 }


footer div p {
    font-size: clamp(.7rem, 1.5vw, 1.2rem);
    font-weight: 400;
    display: grid;    
    text-transform: none;
    margin-right: calc(15px * 3vw);
 }

footer .iconos {
    margin-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer .iconos > * {
    margin-left: 20px;
}

footer .iconos a {
    cursor: pointer;
}

footer .iconos img {
    max-width: 50%;
}

/* MEDIA QUERY */

@media (min-width: 700px) {

    .nav--toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(400px, 3fr) 1fr;
    }

    /* what's inside () in gridtemplatecol its the space between the h1 logo and the nav menu */

    header h1 {
        grid-column: 1 / span 1;
        padding-left: 12vw;
        /*grid-column: 2 / 4; va a hacer que el logo ocupe desde la linea 2 hasta la 4, y va a quedar centrado. total de lineas = 5. */
    }

    nav {
        all: unset; /* it keep every thing we declared in nav previously */
        display: grid;   
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;    
        padding-block: 6%;
        

    }

    nav ul {
        padding-left: 8rem;
    }

    nav ul li a{
        color: var(--clr-naranja);
        font-size: 1rem;

    }

    nav ul {
        display: flex;        
    }

    nav li {
        min-width: 98px;
        margin-bottom: 0;
        margin-right: .4rem;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: var(--clr-primary-600);
        position: absolute;
        top: -.5em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
        transform-origin: left;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }


    .traductor {
        padding-left: 2vw;
        font-size: 1rem;
        margin-top: -3px;
        padding-right: 7vw;
        max-width: 248px;
    }
    /* CALL MEDIAQUERIES */

    .call .cartel {
        padding-left: 12%;
    }

    .call .cartel p {
        text-shadow: 1px 1px rgba(0, 0, 0, 1);
    }

    .call .cartel p {
        font-size: 1rem;
        margin-right: 30%;
        line-height: 1.2;
    }

    /* BANNER NEGRO 1  */
    .banner1 {
        padding-inline: 16%;
    }

    .banner1 p {
        line-height: 1.5;
    }

    /* GALERIA CARTELERAS */

    /* BANNER ANARANJADO 2 */

    .banner2 {
        padding-inline: 12%;
    }

    .banner2 p {
        line-height: 1.3;
        font-weight: 800;
        font-size: 1.5rem;
    }


    /* CARTEL CV WISNY */

    .cartel-cv {
        top: 40%;
        left: 15%;
    }

    .cartel-cv h3 {
        margin-bottom: 1rem;
    }

    


    /* NUEVA CARTELERA */
    

    .cartelera-contenedor {
        color: white;
    }

    .poster h3, .poster p { opacity: 0;}

    .cartelera-contenedor > a {
        width: 50px;
        height: 100px;
    }

    .cartelera-contenedor {
        display: flex;
    }
    .poster1 { background-color: red;}
    .poster1 { background-color: rgb(55, 13, 172);}
    .poster1 { background-color: rgb(59, 139, 79);} 

   

    
}